.sidebar-elements{
  width: 30%;
  float: right;
  background-color: greenyellow;
  font-weight: bold;
  text-align: center;

}

.band-images{

  float: left;
  
}

body{
  background-color: black;
}

h1{
  text-align: center;
}

p {
  color: pink;
}