
.sidenav{
  width: 20%;
  float: left;
  color: aliceblue;
  font-weight: bold;
  text-align: center;
  border: 5px solid white;
  padding: 2%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 5%;
  position: absolute;
  box-sizing: border-box;

}



body{
  background-image: url("https://wallpaperaccess.com/full/1524018.jpg")

}

h1{
  text-align: center;
}

.main {
  margin-left: 35%;
  margin-top: 5%;
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
  position: relative;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}